<main class="contenedor">

    <form action="/reestablecer-password/{{token}}" method="POST" class="default-form">

        <div class="campo">
            <label for="">Nueva contraseña</label>
            <input type="password" name="password" placeholder="Tu Email" required>
        </div>

        <div class="campo">
            <input type="submit" value="Cambiar contraseña" class="btn btn-azul">
        </div>

    </form>

</main>